$color-background: #fff;
$color-contrast: #000;
$color-hover: #ffa500;
$color-primary: #ffaf6d;
$color-secondary: #060606;
$color-tertiary: #2E1503;

$xxxxx-large: 50px; 
$xxxx-large: 45px; 
$xxx-large: 40px; 
$xx-large: 35px; 
$x-large: 30px; 
$large: 20px; 
$medium: 16px; 
$small: 14px; 
$x-small: 12px